<html>
   <head>
      <title>saposki</title>
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/960.css">
   </head>
   <body>
         <div class='top clearfix'>
               <div class='logo'>
                  <div id="element-1" class="element">S</div>
                  <div id="element-2" class="element">A</div>
                  <div id="element-3" class="element">P</div>
                  <div id="element-4" class="element">O</div>
                  <div id="element-5" class="element">S</div>
                  <div id="element-6" class="element">K</div>
                  <div id="element-7" class="element">I</div>
               </div> <!--end logo-->


               <div class='nav'>
                  <ul>
                     <li><a href="">about</a></li>
                     <li><a href="">portrait</a></li>
                     <li><a href="">street</a></li>
                     <li><a href="">crasher</a></li>
                  </ul>
               </div> <!--end nav-->
         </div><!--end container_12 clearfix-->
         <div class='line clearfix'>

         </div>
         <div class='content'>

         </div>
         <div class='foot'>
            <div class='copyright'>
               <p>&copy; Copyright 2016</p>
            </div><!--end copyright-->
            <div class="social-media">
               <ul>
                  <li>fb</li>
                  <li>tw</li>
                  <li>in</li>
                  <li>pi</li>
               </ul>
            </div><!--end social-media  -->
         </div> <!--end foot-->
</body>
</html>
