{% extends "base.html" %}

{% block content %}
   <!-- <h1>portrait</h1> -->
   {% for obj in portrait %}

      {%if obj.image %}
      <!-- <div class="thumbnail"> -->
         <li>
            <a class="thumbnail" href="{% url 'portrait:detail' id=obj.id %}"><img src="{{obj.image.url}}" alt=""></a>

         </li>
      <!-- </div> -->
      {% endif %}

      <!-- {{obj.image}} <br> -->
      <!-- {{obj.title}} <br> -->
      <!-- {{obj.description}} <br> -->
      <!-- {{obj.id}} <br> -->
   {% endfor%}

{% endblock content %}
